@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:disabled {
  opacity: 0.4;
  cursor: no-drop;
}

input:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

:where(.css-1km3mtt).ant-pagination .ant-pagination-item-active:hover {
  border-color: black;
  color: black !important;
}

:where(.css-1km3mtt).ant-pagination .ant-pagination-item-active:hover a {
  color: black;
}

:where(.css-1km3mtt).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #ff8600;
  border-color: #ff8600;
}

.ant-radio-wrapper:hover :where(.css-1km3mtt).ant-radio-wrapper,
:where(.css-1km3mtt).ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #ff8600;
}

.ant-carousel .slick-dots li button {
  width: 14px;
  height: 14px;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  border-radius: 50%;
}

.ant-carousel .slick-dots-bottom li {
  margin: initial 6px;
  padding-bottom: 20px;
}

.ant-carousel .slick-dots li.slick-active {
  width: initial;
}

.setWidthTabs {
  width: 400px;
  text-align: left;
}

.myTab .ant-tabs .ant-tabs-ink-bar {
  background-color: unset !important;
}




.backToTop {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 999;
  padding: 8px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  /* bình thường sẽ ẩn, và có độ mờ là 0*/
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  border: 1px solid white;
}

.backToTop:hover {
  background-color: #a43c24;
}

.backToTop.active {
  /* khi active nó sẽ hiện và có opacity ( độ mờ là 1) nó sẽ hiện ra chậm do có transition ở trên 0.5s  */
  visibility: visible;
  opacity: 1;
}

.circle {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 20px auto;
}

.mask,
.fill {
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 100px, 100px, 50px);
}

.fill {
  clip: rect(0, 50px, 100px, 0);
  background-color: #29d;
}

.mask.full,
.mask.half {
  clip: rect(0, 100px, 100px, 0);
}

.mask.full {
  border: 10px solid #e1e1e1;
}

.mask.half {
  border: 10px solid #29d;
  z-index: 1;
}

.fill.fix {
  position: absolute;
  background-color: #e1e1e1;
  clip: rect(0, 100px, 100px, 50px);
  z-index: 2;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #e1e1e1;
}

.ant-tabs .ant-tabs-ink-bar {
  background-color: orangered;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: orangered;
}

.ant-tabs .ant-tabs-tab:hover {
  color: orangered;
}

.ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane,
.ant-tabs-left>div>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
  padding-left: 0;
}

.circleRate {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 8px solid greenyellow;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.tagDetailHot {
  display: inline-block;
  background-color: #ff5733;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
}

.tagDetailDangChieu {
  display: inline-block;
  background-color: green;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
}

.tagDetailSapChieu {
  display: inline-block;
  background-color: rgb(6, 128, 198);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
}


.detailTabs {
  padding-bottom: 20px;
  transition: .5s;
}

.normalSeat {
  width: 35px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(62, 81, 93);
  color: black;
  border: none;
  margin: 4px;
  border: 1px solid rgb(171, 171, 171);
}

.X-icon-button {
  width: 33px;
  height: 26px;
}

.VipSeat {
  background-color: rgb(247, 181, 0);

}

.reservedSeat {
  background-color: rgb(0, 145, 255) !important;
  color: white;
  cursor: no-drop;
}


.currentChooseSeat {
  background-color: #11ce00 !important;
}

.myReservedSeat {
  background-color: rgb(255, 94, 0) !important;
  border: 1px solid rgb(185, 185, 0);
  box-shadow: 2px 1px 36px -1px rgba(255, 123, 0, 0.4);
  -webkit-box-shadow: 2px 1px 36px -1px rgba(255, 123, 0, 0.4);
  -moz-box-shadow: 2px 1px 36px -1px rgba(255, 123, 0, 0.4);
  color: white;
}

.otherReservedSeat {
  background-color: rgb(98, 0, 255) !important;
  border: 1px solid rgb(98, 0, 255) !important;
  box-shadow: 2px 1px 36px -1px rgba(98, 255, 255, 0.3);
  -webkit-box-shadow: 2px 1px 36px -1px rgba(98, 0, 255, 0.3);
  -moz-box-shadow: 2px 1px 36px -1px rgba(98, 0, 255, 0.3);
  color: white;

  cursor: no-drop;
}
.otherReservedSeat2 {
  background-color: #C5A0FF !important;
  border: 1px solid rgb(98, 0, 255);
  box-shadow: 2px 1px 36px -1px rgba(98, 255, 255, 0.3);
  -webkit-box-shadow: 2px 1px 36px -1px rgba(98, 0, 255, 0.3);
  -moz-box-shadow: 2px 1px 36px -1px rgba(98, 0, 255, 0.3);
  color: white;

  cursor: no-drop;
}
:where(.css-1km3mtt).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: orange !important;
}

.ant-select-focused:where(.css-1km3mtt).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: rgb(255, 153, 0) !important;
}

:where(.css-1km3mtt).ant-btn-default:not(:disabled):hover {
  color: rgb(255, 94, 0) !important;
  border-color: rgb(255, 94, 0) !important;
}

.carouselIntroduce :where(.css-1km3mtt).ant-carousel-vertical .slick-dots-right {
  inset-inline-end: -17px;
}

.carouselIntroduce .ant-carousel .slick-dots li.slick-active {
  width: 14px;
  height: 14px;

}

.carouselIntroduce :where(.css-1km3mtt).ant-carousel-vertical .slick-dots li.slick-active button {
  width: 14px;
  height: 14px;
}

:where(.css-1km3mtt).ant-tour .ant-tour-inner .ant-tour-footer .ant-tour-indicators .ant-tour-indicator-active {
  background-color: #ff8600;
}



:where(.css-1km3mtt).ant-btn-primary {
  background-color: #ff8600;
}

:where(.css-1km3mtt).ant-btn-primary:not(:disabled):hover {
  background-color: rgb(255, 94, 0);
}

:where(.css-1km3mtt).ant-carousel .slick-dots li.slick-active button {
  background-color: rgb(255, 94, 0);
}

.btnOpenModalVideo {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 45px;
  height: 45px;
  line-height: 30px;
  font-size: 15px;
  border-radius: 50%;
  color: orangered;
  text-align: center;
  transform: translateX(-50%);
  background-color: white;
  animation: ripple 1s linear infinite;
  transition: .5s;
}

.tabHomeNews .ant-tabs .ant-tabs-ink-bar {
  background-color: transparent;
}

.dark :where(.css-1km3mtt).ant-card {
  background-color: #393E46;
  color: white !important;
}

.dark :where(.css-1km3mtt).ant-card-bordered {
  border: none;
}

.dark .ant-card-meta-detail .ant-card-meta-title {
  color: white !important;
}

.dark .ant-card-meta-detail .ant-card-meta-description {
  color: gainsboro !important;
}

:where(.css-1km3mtt).ant-pagination .ant-pagination-item-active a {
  color: orangered !important;
}

.dark :where(.css-1km3mtt).ant-pagination .ant-pagination-item a {
  color: white;
}

.dark :where(.css-1km3mtt).ant-tabs .ant-tabs-tab-btn {
  color: white;
}

.dark :where(.css-1km3mtt).ant-pagination .ant-pagination-item-active {
  background-color: #393E46;
  border-color: #ff5733;
  color: orangered !important;
}

.dark :where(.css-1km3mtt).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #393E46;
  color: white;
}

.dark .admin:where(.css-1km3mtt).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: white;
  color: black;
}

:where(.css-1km3mtt).ant-input:focus,
:where(.css-1km3mtt).ant-input-focused {
  border-color: #ff8600;
}

:where(.css-1km3mtt).ant-input:hover {
  border-color: #ff8600;

}

.dark .admin:where(.css-1km3mtt).ant-select .ant-select-arrow {
  color: black;
}

.dark :where(.css-1km3mtt).ant-select .ant-select-arrow {
  color: white;
}

.dark :where(.css-1km3mtt).ant-table-wrapper .ant-table {
  background-color: #393E46;
  color: white;
}

.dark :where(.css-1km3mtt).ant-table-wrapper td.ant-table-column-sort {
  background-color: #ff5833a6;
}

.dark :where(.css-1km3mtt).ant-table-wrapper .ant-table-tbody>tr.ant-table-row:hover>td,
.dark :where(.css-1km3mtt).ant-table-wrapper .ant-table-tbody>tr>td.ant-table-cell-row-hover {
  background: #505050;
}

:where(.css-1km3mtt).ant-table-wrapper .ant-table-column-sorter-up.active,
:where(.css-1km3mtt).ant-table-wrapper .ant-table-column-sorter-down.active {
  color: orangered;
}

.dark :where(.css-1km3mtt).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.dark :where(.css-1km3mtt).ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
  background-color: #222831;
}

:where(.css-1km3mtt).ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible),
:where(.css-1km3mtt).ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible),
:where(.css-1km3mtt).ant-tabs .ant-tabs-tab-btn:active,
:where(.css-1km3mtt).ant-tabs .ant-tabs-tab-remove:active {
  color: orangered;
}

.dark :where(.css-1km3mtt).ant-table-wrapper .ant-table-thead>tr>th,
.dark :where(.css-1km3mtt).ant-table-wrapper .ant-table-thead>tr>td {
  background-color: #ababab;
}

.dark :where(.css-1km3mtt).ant-pagination .ant-pagination-item-active a {
  color: orangered !important;
}

.dark :where(.css-1km3mtt).ant-pagination .ant-pagination-prev button,
.dark :where(.css-1km3mtt).ant-pagination .ant-pagination-next button {
  color: white;
}

.anticon {
  vertical-align: 1px;
}

.tabHomeNews .ant-tabs .ant-tabs-tab .ant-tabs-tab-btn:hover {
  transform: scale(1.05);
}

:where(.css-1km3mtt).ant-tour {
  max-width: 350px;
}

:where(.css-1km3mtt).ant-pagination .ant-pagination-item-active {
  border-color: orangered !important;
}

.btnOpenModalVideo {
  opacity: 0.8;
}

.btnOpenModalVideo:hover {
  background-color: orangered;
  color: white;
  opacity: 1
}

.dark .btnOpenModalVideo {
  background-color: #393E46;
  border: 1px solid orangered;
  opacity: 0.75;
}

.dark .btnOpenModalVideo:hover {
  color: #393E46;
  background-color: orangered;
  border: 1px solid orangered;
  opacity: 1
}

@media screen and (max-width:750px) {
  .normalSeat {
    width: 29px;
    height: 24px;
    font-size: 12px;
    margin: 2px;
  }

  .X-icon-button {
    width: 26px;
    height: 21px;
  }
}

@media screen and (max-width:560px) {
  .normalSeat {
    width: 25px;
    height: 21px;
    font-size: 10px;
    margin: 1px;
  }

  .X-icon-button {
    width: 22px;
    height: 19px;
  }
}

@media screen and (max-width:465px) {
  .normalSeat {
    width: 21px;
    height: 21px;
    font-size: 8px;
    margin: 1px;
  }

  .X-icon-button {
    width: 19px;
    height: 16px;
  }
}

/* ripple: gợn sóng */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(184, 83, 11, 0.25), 0 0 0 10px rgba(162, 86, 15, 0.4), 0 0 0 20px rgba(162, 84, 15, 0.4);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(162, 81, 15, 0.3), 0 0 0 20px rgba(162, 71, 15, 0.4), 0 0 0 40px rgba(245, 128, 50, 0);
  }
}

/* input type FILE */
:where(.css-1km3mtt).ant-form input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
  transition: .3s;
  border-radius: 6px;
}

.dark .custom-file-upload {
  border: 1px solid black;

}

.custom-file-upload:hover {
  border: 1px solid #ff7733;
  color: #ff7733;
}

:where(.css-1km3mtt).ant-picker:hover,
:where(.css-1km3mtt).ant-picker-focused {
  border-color: #ff8600;
}

:where(.css-1km3mtt).ant-input-number:hover {
  border-color: #ff8600;
}

:where(.css-1km3mtt).ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  display: none;
}

.ant-input-search :where(.css-1km3mtt).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 6px;
}

/* admin sider dark mode */
.dark :where(.css-1km3mtt).ant-layout .ant-layout-sider {
  background-color: #393E46;
  border-right: 1px solid rgb(61, 61, 61);
}

.dark :where(.css-1km3mtt).ant-layout .ant-layout-sider-trigger {
  background-color: #222831;
}

/* menu antd  dark mdode*/
.dark :where(.css-1km3mtt).ant-menu-dark {
  background-color: #393E46;
  color: white;
}

.dark :where(.css-1km3mtt).ant-menu-dark .ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: white
}

.dark :where(.css-1km3mtt).ant-menu-dark .ant-menu-item-selected {
  background-color: #ff7733;
}



.dark :where(.css-1km3mtt).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #ff7733;
}

.dark :where(.css-1km3mtt).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
  background-color: #ff7733;
}

:where(.css-1km3mtt).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
  background-color: #ff7733;
}

:where(.css-1km3mtt).ant-layout .ant-layout-header {
  background: white;
}

.dark :where(.css-1km3mtt).ant-layout .ant-layout-header {
  background: #505050;
  color: white;
}

.dark :where(.css-1km3mtt).ant-breadcrumb {
  background-color: #ababab;
  color: white;
  padding: 16px;
  margin: 0;
}

:where(.css-1km3mtt).ant-breadcrumb {
  padding: 16px;
  margin: 0;
}

.dark :where(.css-1km3mtt).ant-layout .ant-layout-content {
  margin: 0 !important;
  border-radius: 0 !important;
  background-color: #ccc;
}

:where(.css-1km3mtt).ant-layout .ant-layout-content {
  margin: 0 !important;
  border-radius: 0 !important;

}

/* admin sider light mode */
:where(.css-1km3mtt).ant-layout .ant-layout-sider {
  background-color: white;
  border-right: 1px solid rgb(202, 202, 202);
}

:where(.css-1km3mtt).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #ff7733;
}

:where(.css-1km3mtt).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
  background-color: #ff7733;
}

:where(.css-1km3mtt).ant-layout .ant-layout-sider-trigger {
  background-color: #ffffff;
}

/* menu antd light mode */
:where(.css-1km3mtt).ant-menu-dark {
  background-color: #ffffff;
  color: gray;
}

:where(.css-1km3mtt).ant-menu-dark .ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: gray
}


:where(.css-1km3mtt).ant-menu-dark .ant-menu-item-selected {
  background-color: #ff7733;
}

:where(.css-1km3mtt).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #ff7733;
}

:where(.css-1km3mtt).ant-btn-primary {
  background-color: #ff7733 !important;
}

:where(.css-1km3mtt).ant-input-affix-wrapper:focus,
:where(.css-1km3mtt).ant-input-affix-wrapper-focused {
  border-color: #ff7733;
}

:where(.css-1km3mtt).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #ff7733;
}

/* switch antd */
:where(.css-1km3mtt).ant-switch .ant-switch-inner {
  background-color: rgba(128, 128, 128, 0.3);
}

:where(.css-1km3mtt).ant-switch.ant-switch-checked .ant-switch-inner {
  background-color: #ff7733;
}

:where(.css-1km3mtt).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background-color: #ff7733;
}

/* loader square */
.loader {
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2px;
  width: 40px;
  height: 40px;
}

.loader>div {
  position: relative;
  width: 100%;
  height: 100%;
  background: tomato;
  transform: scale(0);
  transform-origin: center center;
  animation: loader 2s infinite linear;
}

.loader>div:nth-of-type(1),
.loader>div:nth-of-type(5),
.loader>div:nth-of-type(9) {
  animation-delay: 0.4s;
}

.loader>div:nth-of-type(4),
.loader>div:nth-of-type(8) {
  animation-delay: 0.2s;
}

.loader>div:nth-of-type(2),
.loader>div:nth-of-type(6) {
  animation-delay: 0.6s;
}

.loader>div:nth-of-type(3) {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

:where(.css-1km3mtt).ant-tour {
  max-width: 300px;
}